---
import { IoIosAdd } from 'react-icons/io'
---

<div class="my-4 flex items-center gap-1">
  <a href="/" class="underline underline-offset-2">Index</a>
  <IoIosAdd className="opacity-50" />
  <span class="text-violet-500 font-mplus font-bold"><slot /></span>
</div>
