---
import { HOMEPAGE_URL } from '../config'

const today = new Date()
---

<footer class="text-zinc-500 p-4 text-center">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL} class="text-violet-500 hover:underline">Bryce Loskie</a>. All rights reserved.
</footer>
