---
import { HOMEPAGE_URL } from '../config'

const today = new Date()
---

<footer class="text-zinc-500 p-4 text-center">
  &copy; {today.getFullYear()}
  <a
    href={HOMEPAGE_URL}
    class="text-violet-500 dark:text-violet-400 underline underline-offset-4 decoration-zinc-500 decoration-2 hover:decoration-violet-500"
  >
    Bryce
  </a>
  <span>
    . All rights reserved.
  </span>
</footer>
